
.navbar {
    height: 60px;
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #2c3e50; 
    color: #ecf0f1; 
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}


.navbar .profile-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.navbar .profile-container img {
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    border: 2px solid #ecf0f1; 
}


.navbar .dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #34495e; 
    color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}


.navbar .profile-container:hover .dropdown,
.navbar .profile-container:focus-within .dropdown {
    opacity: 1;
    visibility: visible;
}


.navbar .dropdown button {
    display: block;
    width: 100%;
    background-color: transparent;
    color: #ecf0f1;
    padding: 10px 15px;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar .dropdown button:hover {
    background-color: #1abc9c; 
}
